* {
    box-sizing: border-box;
}



body {
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(/images/bodega.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0%;
    padding: 0%;
}


.titleBig {
    color: #E42E43;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5vw;
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: #3F4826;
}

.listWorks {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.listWorks ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 600px;
    width: 100%;
}

.listWorks li {
    text-align: center;
    padding: 10px;
    font-size: 1.1rem;
}

.cardwork {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;


}

.cardPhotos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;

}

.card {
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #6A0F1A;
    box-shadow: 0 8px 20px rgba(230, 218, 218, 0.15);
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-color: #6A0F1A;
}

.cardContent {
    background: #3F4826;
    color: #B6B5B2;
    text-align: center;
}



.cardContent h3 {
    margin-bottom: 10px;
}

.cardContent p {
    font-size: 14px;
    color: #B6B5B2;
}


.listWorks ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 600px;
    width: 100%;
}

.listWorks li {
    text-align: center;
    padding: 10px;
    font-size: 1.1rem;
}

.textHistory {
    background-color: #3F4826;
    border: 2px solid #6A0F1A;
    padding: 20px;
    margin: 50px auto;
    width: 60%;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #B6B5B2;
    color: #B6B5B2;
    line-height: 1.5;
    font-size: 130%;
    
}

.textT {
    background-color: #3F4826;
    border: 2px solid #6A0F1A;
    padding: 20px;
    margin: 50px auto;
    width: 60%;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #B6B5B2;
    color: #B6B5B2;
    line-height: 1.5;
    font-size: 130%;
}


html,
body {
    height: auto !important;
    min-height: 100% !important;
    overflow-y: auto !important;
}




