body {
    background-color: #6A0F1A;
    text-align: center;
}


.listWorks {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
}

.cardPhotos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    font-family: Arial, sans-serif;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.imgjavier {
    width: 100px;
    height: 50px;
}

.cardContent {
    position: absolute;
    color: #fff;
    padding: 15px;
    text-align: center;
}

.cardContent h3 {
    margin-bottom: 10px;
}

.cardContent p {
    font-size: 14px;
    color: #F5EFE5;
}