*{  margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}




h1{
    color: #070707;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: #6a0f1a 3px solid;
    border-radius: 10px;
    background-color: #d4a762;

}

main {background-image: url(/image/logoAgency.png);
    background-size: contain;
    min-height: 100vh;          
    display: flex;
    justify-content: center;   
    align-items: center;        ;
    background-color: #F5EFE5;
}


    .formulary {
    background-color: #3F4826;
    padding: 30px 40px;
    border-radius: 12px;
    border: solid 3px #6a0f1a;
    box-shadow: 0 0 80px #d4a762 ;
    width: 100%;
    max-width: 400px;  
    font-family: Arial, Helvetica, sans-serif; 
           /* Tamaño máximo del formulario */
}

.formulary h1 {
    text-align: center;
    margin-bottom: 20px;
}

.formulary label {
    display: block;
    margin-top: 10px;
}

.formulary input,
.formulary textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: 3px solid #6a0f1a;
    background-color: #F5EFE5;
}

.formulary input[type="submit"] {
    margin-top: 15px;
    width: 100%;
    cursor: pointer;
    color: #050505;
    background-color: #d4a762;
}
