*{  margin: 0%;
    padding: 0%;
}

h1{
    color: #6a0f1a;
    text-align: center;
}










main {
    min-height: 100vh;          
    display: flex;
    justify-content: center;   
    align-items: center;       
    background-image:url(../image/logoAgency.png) ;
    background-color: #F5EFE5;
}

.formulary {
    background-color: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px;  
    font-family: Arial, Helvetica, sans-serif;        /* Tamaño máximo del formulario */
}

.formulary h1 {
    text-align: center;
    margin-bottom: 20px;
}

.formulary label {
    display: block;
    margin-top: 10px;
}

.formulary input,
.formulary textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.formulary input[type="submit"] {
    margin-top: 15px;
    width: 100%;
    cursor: pointer;
}