html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}
.footer{
    width:100%;
    height: auto;
    margin: 0 auto;
    background-color: #6A0F1A;
    padding: 1rem;
    color: #F5EFE5;
    font-family: lato, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.footer .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.footer .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.3rem;
    max-width: 100%;
    overflow: hidden;
}
.footer .col p{
    margin: 0.2rem;
    line-height: 1.2;
}
.logofooter{
    max-width: 60%;
    align-items: center;
    background-color: #F5EFE5;
    border-radius: 50%;
}
.footer .icons img{
    max-width: 75%;
    width: auto;
    height: auto;
    margin: 0.2rem;  
    gap: 0.3rem;
    align-items:end;
}
@media (max-width: 480px) {
    .footer .container {
        flex-direction: column;
        gap: 1.2rem;
    }
    .logofooter {
        max-width: 60%;
    }
    .footer {
        padding: 2rem 1rem;
        height: auto;
    }
    .footer .icons img {
        max-width: 28px;
    }
}
@media (max-width: 768px) {
    .footer .container {
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer .col {
        width: 100%;
    }
    .logofooter {
        max-width: 50%;
    }
    .footer {
        padding: 2rem 1rem;
        height: auto;
    }
    .footer .icons img {
        max-width: 32px;
    }
}
@media (max-width: 1024px) {
    .logofooter {
        max-width: 45%;
    }
    .footer .container {
        gap: 1rem;
    }
}
@media (max-width: 1399px) {
    .logofooter {
        max-width: 40%;
    }
}
@media (min-width: 1400px) {
    .logofooter {
        max-width: 35%;
    }
    .footer .col {
        max-width: 450px;
    }
}
