body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height:auto;
}
main,.fondo {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bodegaNavidad.png");      
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    z-index: -1;
}

.cardsWine {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}
.titleWine {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 2rem;
    color:#F5EFE5 ;
    z-index: 10;
}
.cards-row {
    display: flex;
    gap: 1cm;
    flex-wrap: wrap;
    justify-content: center;
}
.card-title, .card{
    background-color: #3F4826;
    color: #fffaf2;
    font-family: sans-serif;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 30px;
}
@media (max-width: 1024px) {
    .fondo {
        opacity: 0.45;
        background-position: center;
    }
    .cards-row {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }
    }
@media (max-width: 600px) and (max-width: 1023px){
    .fondo {
        opacity: 0.45;
        background-position: center;
    }
    }
    .cards-row {
        flex-direction: column;
        gap: 20px;
        padding: 10px;
    }
@media (min-width: 600px) and (max-width: 900px) {

    .cards-row {
        gap: 25px;
    }
    .card {
        width: 45%;
    }
}